@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hello World!!";
}

<p>Teste do P</p>
<h2>Teste de h2</h2>
<h1>TEste H1</h1>