
@*
    
*@
@{
    ViewData["Title"] = "Welcome";
}

<h1>Teste de H1 no Welcome!!</h1>
<p>Olá, seja bem vindo a página WELCOME!!</p>
<p>@ViewData["Message"]</p>
<p>@ViewData["NumTimes"]</p>
<p>@ViewData["Teste"]</p>