@model PropriedadeModel

@{
    ViewData["Title"] = "Cadastrar nova propriedade";
}

<form asp-controller="Propriedade" asp-action="Criar" method="post">
    <div class="form-row">
        
        <div class="form-group">
            <label for="propriedade">Propriedade</label>
            <input type="text" asp-for="NomePropriedade" class="form-control" placeholder="Nome da propriedade">
        </div>
        <br>
        <div class="form-group">
            <label for="proprietário">Proprietário</label>
            <input type="text" asp-for="NomeProprietario" class="form-control" placeholder="Nome do proprietário">
        </div>
        <br>
        <div class="form-group">
            <label for="area">Área</label>
            <input type="text" asp-for="Area" class="form-control" placeholder="Área da propriedade">
        </div>
        <br>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" asp-for="Cidade" class="form-control" placeholder="Cidade">
        </div>
        <br>
        <div class="form-group">
            <label for="contato">Contato</label>
            <input type="text" asp-for="Contato" class="form-control" placeholder="Contato">
        </div>
        <br>
        <div class="form-group">
            <label for="dataServico">Data do Servico</label>
            <input type="date" class="form-control">
        </div>
        <br>
        <div class="form-group">
            <label for="contato">Data da Nota</label>
            <input type="date" class="form-control">
        </div>
        <br>
        <div class="form-group" >
            <label for="contato">Data Previsto do Pagamento</label>
            <input type="date" class="form-control" disabled>
        </div>
        <br>
        <div class="form-group">
            <label for="contato">Valor Previsto do Pagamento</label>
            <input type="text" class="form-control" disabled>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Gravar</button>
    <a class="btn btn-secondary" asp-controller="Propriedade" asp-action="Index">Voltar</a>
</form>
