@{
    ViewData["Title"] = "Cadastrar nova propriedade";
}

<form>
    <div class="form-row">
        
        <div class="form-group">
            <label for="propriedade">Propriedade</label>
            <input type="text" class="form-control" placeholder="Nome da propriedade">
        </div>
        <br>
        <div class="form-group">
            <label for="proprietário">Proprietário</label>
            <input type="text" class="form-control" placeholder="Nome do proprietário">
        </div>
        <br>
        <div class="form-group">
            <label for="area">Área</label>
            <input type="text" class="form-control" placeholder="Área da propriedade">
        </div>
        <br>
        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" placeholder="Cidade">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" asp-controller="Propriedade" asp-action="Index">Voltar</a>
</form>
